.container {
  --font-size: 20px;
  top: 0;
  left: 0;
  background-color: rgb(105, 99, 99);
}
.stat{
  color: black;
}
.nav {
  display: flex;
  gap: 25px;
}

.link {
  display: block;
  padding: 15px 0;
  font-size: var(--font-size);
  text-decoration:solid;
  color: rgb(35, 33, 33)
}

.link[aria-current="page"] {
  color: white;
}

.stat {
  align-self: center;
  font-size: var(--font-size);
}
